@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}


/* globals.css or any other global stylesheet */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.letter {
  transition: all 0.3s ease-in-out;
}

.letter:hover {
  color: #8d098d; /* Neon Pink */
  text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

.mouse-trail {
  position: fixed; /* Fixed to follow the mouse everywhere */
  width: 8px;
  height: 8px;
  background-color: rgba(0, 255, 213, 0.8);
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0, 255, 213, 0.8);
  animation: fadeOut 0.5s ease-out forwards;
  z-index: 9999; /* Ensure it appears above everything */
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

